
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #040500;
    color: white;
    z-index: 40;
    box-shadow: 0 0 20px black;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
  }

  .dh-logo {
    width: 50px;
    margin-left: 0;
  }

.name {
    font-size: 150%;
    font-weight: bold;
    color: #C8A96A;
}

.nav-list {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.nav-list li {
    font-size: 1.5em;
}

.custom-link {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
    transition: color 0.7s ease, opacity 0.7s ease;
}

.custom-link.active {
    color: var(--classic-pine);
    opacity: 1;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 2rem;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--gold-aged);
    border-radius: 3px;
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #0f0f0f;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem 2rem;
        display: none;
    }

    .nav-list.open {
        display: flex;
    }
}
