.custom-link.active {
    color: var(--classic-pine);
    opacity: 1;
    font-weight: bold;
  }
  

logo-container {
    margin-left: 1.5rem;
    display: block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 20;
}
.name {
    font-size:150%;
    font-weight: bold;
    color: #C8A96A;
}

.nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #040500;
    color: white;
    box-shadow: 0 0 20px black;
    z-index: 40;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li{
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 6vh;
}

.custom-link {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
    transition: color 0.7s ease, opacity 0.7s ease;
}

.dh-logo {
    width: 50px;
    margin-left: 5rem;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 2rem;
    }
    
    .nav-list li {
        margin: 0.5rem 0;
    }
}
