.about-section {
  background-color: var(--black-deep);
  text-align: center;
  padding: 4rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-margin-top: 150px;
  /*margin-top: 2rem;*/
}
  
  .about-icon {
    margin-bottom: 2rem;
  }
  
  .about-text {
    max-width: 800px;
    margin: 0 auto 4rem auto;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .about-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .about-box {
    color: var(--white-soft);
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(200, 169, 106, 0.2);
    padding: 2rem;
    border-radius: 12px;
    max-width: 280px;
    flex: 1 1 250px;
    transition: transform 0.3s ease;
  }
  
  .about-box:hover {
    transform: translateY(-5px);
  }
  
  .about-box h3 {
    color: var(--gold-aged);
    margin-bottom: 0.75rem;
  }

  .about-icon-box {
    margin-bottom: 1rem;
  }
  .about-icon-box svg {
    width: 36px;
    height: 36px;
    stroke: var(--gold-aged);
  }

  .about-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    opacity: 0.90;
    color: var(--white-soft);
    h1 {
        text-align: center;
        font-size: 4em;
        margin-bottom: 5vh;
        position: relative;
        color: var(--gold-aged);
    }
    h1::after {
        content: "";
        display: block;
        width: 270px;
        height: 3px;
        background: var(--gold-aged);
        margin-top: 3px;
        margin: 0.3em auto 0 auto;
        border-radius: 2px;
    }

    p {
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.6;
        white-space: pre-line;
    }
    .style-name {
        font-weight: bold;
        color: var(--gold-aged);
    }
}