#products {
    scroll-margin-top: 80px;
}

.buy-button {
    margin-top: 1rem;
    padding: 0.5rem 1.2rem;
    background-color: transparent;
    border: 1px solid var(--gold-aged);
    color: var(--gold-aged);
    font-weight: bold;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .buy-button:hover {
    background-color: var(--gold-aged);
    color: #0f0f0f;
}

.products-section {
  background-color: var(--heritage-green);
  padding: 4rem 2rem;
  overflow: hidden;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-content h1 {
  color: var(--white-soft);
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 2rem;
}

.products-carousel {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: visible !important;
  position: relative;
}

.products-carousel .slick-slide {
  display: flex !important;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.carousel-slide {
  width: 100%;
  max-width: 280px;
  transition: all 0.3s ease;
}

.products-carousel,
.slick-list,
.slick-track {
  overflow: visible !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}

@media (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    display: flex !important;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: var(--gold-aged);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: background 0.3s ease;
  }

  .slick-prev:hover,
  .slick-next:hover {
    background-color: var(--gold-aged);
    color: #0f0f0f;
  }

  .slick-prev { left: -40px; }
  .slick-next { right: -40px; }
}
